fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-google-genai
faiss-cpu
pydantic
pandas
numpy
torch
transformers
sentence-transformers
google-generativeai
python-multipart
Pillow
pdfplumber
PyMuPDF
python-dotenv
langchain_core.pydantic_v1
