fastapi
uvicorn
langchain==0.2.11
langchain-core==0.2.11
langchain-community==0.2.11
langchain-huggingface
langchain-google-genai
faiss-cpu
pydantic
pandas
numpy
torch
transformers
sentence-transformers
google-generativeai
python-multipart
Pillow
pdfplumber
PyMuPDF
python-dotenv
